@model NetCashWebSite.Models.Transfer

@{
    ViewBag.Title = "Transfer";
   // Layout = "/Views/Shared/_UserLayout.cshtml";
}

@section article {

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Transfer failed. Check your transfer details");

    <h2>Transfer Funds</h2>
            <div class="form-group">
                @Html.LabelFor(t => t.TargetAccountNumber, new { @class = "control-label" })
                @Html.TextBoxFor(t => t.TargetAccountNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TargetAccountNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.TransferAmount, new { @class = "control-label" })
                @Html.TextBoxFor(t => t.TransferAmount, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TransferAmount)
            </div>
            <input class="btn btn-primary" type="submit" value="Confirm" />

    }
}





