@model WebApplication5.Models.ATMModels.ATMUser

@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<li>

    <button onclick="location.href='@Url.Action("Withdrawal", "ATMFunctions",Model)';return false;">Withdraw</button>
</li>
<li>
    <button onclick="location.href='@Url.Action("Deposit", "ATMFunctions",Model)';return false;">Deposit</button>
</li>
<li>
    <button onclick="location.href='@Url.Action("AccountInfo", "ATMFunctions",Model)';return false;">Account Info</button>
</li>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
