@model NetCashWebSite.Models.Loan

@{
    ViewBag.Title = "Loan";
    //Layout = "/Views/Shared/_UserLayout.cshtml";
}

@section article {

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Application failed. Check your loan application details");


                <div class="form-group">
                    @Html.LabelFor(l => l.LoanChoice, new { @id = "ddLoanType", @class = "control-label" })
                    @Html.DropDownListFor(l => l.LoanChoice, new SelectList(Model.LoanTypeOptions,
                               "Value", "Value",
                               Model.LoanTypeOptions.First().Value), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.AmountRequired, new { @id="lblAmount", @class = "control-label" })
                    @Html.TextBoxFor(c => c.AmountRequired, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.AmountRequired)
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.PeriodOfRepayment, new { @id="lblRepayment", @class = "control-label" })
                    @Html.TextBoxFor(c => c.PeriodOfRepayment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.PeriodOfRepayment)
                </div>
                <input id="btnConfirm" class="btn btn-primary" type="submit" value="Confirm" />              
    }
    }




