@model NetCashWebSite.Models.Insurance.InsuranceQuery

@{
    ViewBag.Title = "ReviewQuote";
}

@section article{
    <h2>Outstanding Insurance Query</h2>

    <div class="form-horizontal">
        <strong>
            @Html.LabelFor(i => i.AccountNumber, new { @class = "control-label" })
        </strong>
        @Html.Label(Model.AccountNumber)
    </div>
    <div class="form-horizontal">
        <strong>
            @Html.LabelFor(i => i.InsuranceTypeChoice, new { @class = "control-label" })
        </strong>
        @Html.Label(Model.InsuranceTypeChoice)
    </div>
    <div class="form-horizontal">
        <strong>
            @Html.LabelFor(i => i.AgeChoice, new { @class = "control-label" })
        </strong>
        @Html.Label(Model.AgeChoice)
    </div>
    <div class="form-horizontal">
        <strong>
            @Html.LabelFor(i => i.LocationChoice, new { @class = "control-label" })
        </strong>
        @Html.Label(Model.LocationChoice)
    </div>
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(i => i.DateOfApplication, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.DateOfApplication.ToString())
</div>

    <button id="btnMarkDiscussed" class="btn btn-primary" onclick="location.href='@Url.Action("DiscussInsurance", "InsuranceStaff", Model)'">Mark as discussed</button>


}

