@model WebApplication5.Models.ATMModels.ATMUser
@{
    ViewBag.Title = "AccountInfo";
}

<h2>AccountInfo</h2>
<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.accountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNumber)
        </dd>
    </dl>
</div>

