@model NetCash.Models.Insurance

@{
    ViewBag.Title = "InsuranceCustomer";
   // Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section article {

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Application failed. Check your loan application details");
         
                
                <div class="form-group">
                    @Html.LabelFor(l => l.AgeChoice, new { @class = "control-label" })
                    @Html.DropDownListFor(l => l.AgeChoice, new SelectList(Model.ageBracketOptions,
                               "ageBracket", "Value",
                               Model.ageBracketOptions.First().ageBracket), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.InsuranceTypeChoice, new { @class = "control-label" })             
                    @Html.DropDownListFor(l => l.InsuranceTypeChoice, new SelectList(Model.InsuranceTypeOptions,
                               "InsuranceType", "Value",
                               Model.InsuranceTypeOptions.First().InsuranceType), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.LocationChoice, new { @class = "control-label" })               
                    @Html.DropDownListFor(l => l.LocationChoice, new SelectList(Model.LocationOptions,
                               "Location", "Value",
                               Model.LocationOptions.First().Location), new { @class = "form-control" })
                </div>
                <input type="submit" value="Confirm" />         
    }
}