@model NetCashWebSite.Models.Insurance.InsuranceQuery

@{
    ViewBag.Title = "InsuranceCustomer";
}

@section article {

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Application failed. Check your loan application details");
                      
                <div class="form-group">
                    @Html.LabelFor(l => l.AgeChoice, new { @class = "control-label" })
                    @Html.DropDownListFor(l => l.AgeChoice, new SelectList(Model.ageBracketOptions,
                               "StringValue", "StringValue",
                               Model.ageBracketOptions.First().StringValue), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.InsuranceTypeChoice, new { @class = "control-label" })             
                    @Html.DropDownListFor(l => l.InsuranceTypeChoice, new SelectList(Model.InsuranceTypeOptions,
                               "StringValue", "StringValue",
                               Model.InsuranceTypeOptions.First().StringValue), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.LocationChoice, new { @class = "control-label" })               
                    @Html.DropDownListFor(l => l.LocationChoice, new SelectList(Model.LocationOptions,
                               "StringValue", "StringValue",
                               Model.LocationOptions.First().StringValue), new { @class = "form-control" })
                </div>
                <input id="btnConfirm" type="submit" value="Confirm" />         
    }
}