<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <header>
            <h1>Net Cash</h1>
        </header>
        @if (Request.IsAuthenticated)
        {
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="btnHomeNav" href='@Url.Action("Index", "Home")'>Home</a>
                        </li>
                        <li>
                            <a id="btnLoanNav" href='@Url.Action("LoanStaffQuery", "LoanStaff")'>View Loan Application</a>
                        </li>
                        <li>
                            <a id="btnInsuranceNav" href='@Url.Action("Insurance_StaffQuery", "Insurance_Staff")'>View Insurance Application</a>
                        </li>
                        <li>
                            <a id="btnLogoutNav" href='@Url.Action("Logout", "User")' ;return false;">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        }
        else
        {
           < <nav class="navbar navbar-default">
                <div class="container-fluid">
                 <!--   <ul class="nav navbar-nav">
                        <li>
                            <a href='Url.Action("Login", "User")'>Log In</a>
                        </li>
                    </ul> -->
                </div>
            </nav>
        }
        <article>
            @RenderSection("article", false)
        </article>

        <footer>Copyright © Jack, Marc, Dermit, and R-Eoin 2K16</footer>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
