<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <h1>Net Cash</h1>
        </header>
        }
        <article>
            @RenderSection("article", false)
        </article>
        <div style="left:50% !important">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" onclick="Button1_Click" class="btn btn-default" style="width:100px !important;height:100px !important">1</button>
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">2</button>
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">3</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">4</button>
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">5</button>
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">6</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" style="width:100px !important;height:100px !important">7</button>
            <button type="button" class="btn btn-default"style="width:100px !important;height:100px !important">8</button>
            <button type="button" class="btn btn-default"style="width:100px !important;height:100px !important">9</button>
        </div>
           </div>
        <footer>Copyright © Jeck, Mark, Dermit, and R-Eoin 2K16</footer>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

