@model NetCashWebSite.Models.Loan

@{
    ViewBag.Title = "LoanStaff";
}

@section article{
    <h2>Outstanding Loan Application</h2>
    
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(l => l.AccountNumber, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.AccountNumber)
</div>
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(l => l.LoanChoice, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.LoanChoice)
</div>
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(l => l.AmountRequired, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.AmountRequired)
</div>
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(l => l.PeriodOfRepayment, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.PeriodOfRepayment)
</div>
<div class="form-horizontal">
    <strong>
        @Html.LabelFor(l => l.DateOfApplication, new { @class = "control-label" })
    </strong>
    @Html.Label(Model.DateOfApplication.ToString())
</div>

    <button id="btnMarkDiscussed" class="btn btn-primary" onclick="location.href='@Url.Action("DiscussLoan", "LoanStaff", Model)'">Mark as discussed</button> 

    
    }

